{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div id='loadingmessage' style='display:none'>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
{% endblock %}

{% block jumbo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Book </a></li>
        <li class="breadcrumb-item active" aria-current="page">Chapter</li>
    </ol>
</nav>


<form method="POST">

    <div class="card" style="width: 35rem;">
        <div class="card-body">
            {{ form2.hidden_tag()}}
            {{ wtf.form_field(form2.book_chapter_selector) }}
            {{ wtf.form_field(form2.submit_book_chapter, button_map={'submit_book_chapter':'success'}) }}
        </div>
    </div>
</form>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
        $(document).bind('submit', 'a#submit_book_chapter', function() {
          $('#loadingmessage').show();  // show the loading message.
            e.preventDefault()
            $.getJSON('/',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock %}


{% block search %}
<form method="POST">

    {{ form_search.hidden_tag()}}
    {{ wtf.form_field(form_search.search_string) }}

</form>
{% endblock %}
