{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% endblock %}

{% block jumbo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Book </a></li>
        <li class="breadcrumb-item active" aria-current="page">Chapter</li>
    </ol>
</nav>


<form method="POST">

    <div class="card" style="width: 35rem;">
        <div class="card-body">
            {{ form2.hidden_tag()}}
            {{ wtf.form_field(form2.book_chapter_selector) }}
            {{ wtf.form_field(form2.submit_book_chapter, button_map={'submit_book_chapter':'success'}) }}
        </div>
    </div>
</form>


{% endblock %}

{% block search %}
<form method="POST">

    {{ form_search.hidden_tag()}}
    {{ wtf.form_field(form_search.search_string) }}

</form>
{% endblock %}
